<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <div class="login-logout">
        <form method="post">
            <p>Enter your account</p>
            <div>
                <input type="text" placeholder="login">
            </div>
            <div>
                <input type="password" placeholder="password">
            </div>
            <div>
                <input type="submit" class="btn btn-dark" value="Login!">
            </div>
        </form>
    </div>

</body>
</html>