a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: black;
}

h1{
    text-align: center;
    font-size: 50px;
    margin: 50px 0;
}

h2{
    display: inline;
    font-size: 37px;
}


.brand{
    margin-left: 150px;
}

.login-link{
    font-size: 20px;
    margin-right: 150px;
}

.separator{
    margin: 0 20px;
}

li{
    font-size: 27px;  
}

.download-btn{
    margin: 10px 0 0 0;
    width: 170px;
    height: 50px;
}

.btn:hover{
    color: inherit;
}

.download-link{
    color: #fff;
}

.download-area{
    margin: 21px 0;
    text-align: center;
}

.login-logout{
    float: right;
    margin: 10px 0 0 0;
}

.login-logout *{
    margin: 10px 10px 0 0;

}

.main-body{
    clear: both;
}

.feature-list-container{
    margin: 10px 0 0 0;
}


.page-footer{
    background-color: #f3f3f3;
}

